.sp-wheel-container {
  svg {
    width: 100%;
    max-width: 35em;
    cursor: pointer;

    &.sp-wheel-rotating {
      cursor: not-allowed;
    }
  }
}

#wheel-group {
  transition-property: transform;
  transition-duration: var(--rotation-duration);
  transition-timing-function: cubic-bezier(0.2, 0, 0.2, 1);
}

.sp-color-matrix {
  display: grid;
  grid-template-columns: repeat(5, 2em);
  grid-auto-rows: 2em;

  button {
    border-radius: 0;

    &:first-child {
      border-top-left-radius: var(--bs-btn-border-radius);
    }
    &:nth-child(5) {
      border-top-right-radius: var(--bs-btn-border-radius);
    }
    &:nth-child(21) {
      border-bottom-left-radius: var(--bs-btn-border-radius);
    }
    &:last-child {
      border-bottom-right-radius: var(--bs-btn-border-radius);
    }
  }
}
