:host {
  display: block;
  height: 100%;
}

.sp-bar-chart-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  height: 100%;
  --sp-content-margin-top: 0.25rem;
}

.sp-bar-chart-y-axis,
.sp-bar-chart-x-axis {
  .sp-bar-chart-axis-label {
    text-align: center;
    padding: 0.5rem;
  }
}

.sp-bar-chart-y-axis {
  border-right: 1px solid var(--bs-border-color);
  display: flex;
  align-items: stretch;

  .sp-bar-chart-axis-label {
    writing-mode: vertical-lr;
    writing-mode: sideways-lr;
    width: 3em;
  }

  > * {
    margin-top: var(--sp-content-margin-top);
  }
}

.sp-bar-chart-y-axis-values {
  position: relative;

  span {
    padding-right: 0.5rem;
  }
}

.sp-bar-chart-y-axis-value {
  position: absolute;
  left: 0;
  right: 0;
  text-align: right;
  transform: translateY(-50%);
}

.sp-bar-chart-x-axis {
  border-top: 1px solid var(--bs-border-color);
}

.sp-bar-chart-x-axis-values {
  position: relative;
}

@mixin smooth-bar($transition-properties) {
  transition-property: #{$transition-properties};
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  animation: 0.3s ease-in-out fade-in-bar both;
}

.sp-bar-chart-x-axis-value {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  @include smooth-bar("left, width");
}

.sp-bar-chart-area {
  position: relative;
  margin-top: var(--sp-content-margin-top);
}

.sp-bar-chart-bar-container {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 0.5rem;
  @include smooth-bar("left, width, height");
}

.sp-bar-chart-bar {
  --sp-bar-chart-bar-color: var(--bs-border-color);
  background-color: var(--sp-bar-chart-bar-color);
  border-top-left-radius: var(--bs-border-radius);
  border-top-right-radius: var(--bs-border-radius);
  width: min(100%, 5rem);
  transition: 0.3s ease-in-out opacity;
  animation: 0.3s ease-in-out grow-height-bar both;

  &:hover {
    opacity: 0.85;
  }
}

@keyframes grow-height-bar {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

.sp-bar-chart-grid-line {
  position: absolute;
  height: 1px;
  left: -0.25rem;
  right: 0;
  background-color: var(--bs-border-color);
  opacity: 0.5;
}

@keyframes fade-in-bar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
