@include color-mode(neon) {
  --bs-body-color: var(--bs-white);
  --bs-body-color-rgb: #{to-rgb($white)};
  --bs-body-bg: var(--bs-blue);
  --bs-body-bg-rgb: #{to-rgb($blue)};
  --bs-tertiary-bg: #{$blue-600};
}

@include color-mode(dark) {
  .sp-card {
    --sp-card-border-color: rgba(255, 255, 255, 0.1);
    --sp-card-box-shadow-color: rgba(255, 255, 255, 0.05);
  }
}

@include color-mode(dark-glass) {
  // copied from dark mode in bootstrap:
  //--bs-body-color: #{$body-color-dark};
  //--bs-body-color-rgb: #{to-rgb($body-color-dark)};
  --bs-body-bg: #{$body-bg-dark};
  --bs-body-bg-rgb: #{to-rgb($body-bg-dark)};

  --bs-emphasis-color: #{$body-emphasis-color-dark};
  --bs-emphasis-color-rgb: #{to-rgb($body-emphasis-color-dark)};

  --bs-secondary-color: #{$body-secondary-color-dark};
  --bs-secondary-color-rgb: #{to-rgb($body-secondary-color-dark)};
  --bs-secondary-bg: #{$body-secondary-bg-dark};
  --bs-secondary-bg-rgb: #{to-rgb($body-secondary-bg-dark)};

  --bs-tertiary-color: #{$body-tertiary-color-dark};
  --bs-tertiary-color-rgb: #{to-rgb($body-tertiary-color-dark)};
  --bs-tertiary-bg: #{$body-tertiary-bg-dark};
  --bs-tertiary-bg-rgb: #{to-rgb($body-tertiary-bg-dark)};

  --bs-emphasis-color: #{$emphasis-color-dark};

  --bs-primary-text: #{$primary-text-dark};
  --bs-secondary-text: #{$secondary-text-dark};
  --bs-success-text: #{$success-text-dark};
  --bs-info-text: #{$info-text-dark};
  --bs-warning-text: #{$warning-text-dark};
  --bs-danger-text: #{$danger-text-dark};
  --bs-light-text: #{$light-text-dark};
  --bs-dark-text: #{$dark-text-dark};

  --bs-primary-bg-subtle: #{$primary-bg-subtle-dark};
  --bs-secondary-bg-subtle: #{$secondary-bg-subtle-dark};
  --bs-success-bg-subtle: #{$success-bg-subtle-dark};
  --bs-info-bg-subtle: #{$info-bg-subtle-dark};
  --bs-warning-bg-subtle: #{$warning-bg-subtle-dark};
  --bs-danger-bg-subtle: #{$danger-bg-subtle-dark};
  --bs-light-bg-subtle: #{$light-bg-subtle-dark};
  --bs-dark-bg-subtle: #{$dark-bg-subtle-dark};

  --bs-primary-border-subtle: #{$primary-border-subtle-dark};
  --bs-secondary-border-subtle: #{$secondary-border-subtle-dark};
  --bs-success-border-subtle: #{$success-border-subtle-dark};
  --bs-info-border-subtle: #{$info-border-subtle-dark};
  --bs-warning-border-subtle: #{$warning-border-subtle-dark};
  --bs-danger-border-subtle: #{$danger-border-subtle-dark};
  --bs-light-border-subtle: #{$light-border-subtle-dark};
  --bs-dark-border-subtle: #{$dark-border-subtle-dark};

  --bs-heading-color: #{$headings-color-dark};

  --bs-link-color: #{$link-color-dark};
  --bs-link-hover-color: #{$link-hover-color-dark};
  --bs-link-color-rgb: #{to-rgb($link-color-dark)};
  --bs-link-hover-color-rgb: #{to-rgb($link-hover-color-dark)};

  --bs-code-color: #{$code-color-dark};

  --bs-border-color: #{$border-color-dark};
  --bs-border-color-translucent: #{$border-color-translucent-dark};

  // own overwrites

  --bs-body-color: #eef6ff;
  --bs-body-color-rgb: #{to-rgb(#eef6ff)};

  body {
    background: radial-gradient(circle, rgba(33, 37, 41, 1) 0%, rgba(59, 36, 36, 1) 43%, rgba(0, 42, 50, 1) 100%);
  }

  footer,
  header {
    background: rgba(var(--bs-tertiary-bg-rgb), 0.75) !important;
  }

  .sp-card {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.1) 100%);
    backdrop-filter: blur(50px);
    border: none;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: var(--bs-border-radius);
      padding: 1px;
      background: linear-gradient(135deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      mask-composite: exclude;
      pointer-events: none;
    }
  }
}
