[data-bs-theme="dark"],
[data-bs-theme="dark-glass"] {
  .sp-when-light {
    display: none;
  }
  .sp-when-dark {
    display: initial;
  }
}

@include color-mode(light) {
  .btn-guess {
    // same as bootstrap button variant "light"
    @include button-variant(
      $light,
      $light,
      $hover-background: shade-color($light, $btn-hover-bg-shade-amount),
      $hover-border: shade-color($light, $btn-hover-border-shade-amount),
      $active-background: shade-color($light, $btn-active-bg-shade-amount),
      $active-border: shade-color($light, $btn-active-border-shade-amount)
    );
  }
}

@include color-mode(dark) {
  .sp-card {
    --sp-card-border-color: rgba(255, 255, 255, 0.1);
    --sp-card-box-shadow-color: rgba(255, 255, 255, 0.05);
  }

  .btn-guess {
    // same as bootstrap button variante "secondary"
    @include button-variant($secondary, $secondary);
  }
}

@include color-mode(dark-glass) {
  // copied from dark mode in bootstrap:
  --bs-body-color: #{$body-color-dark};
  --bs-body-color-rgb: #{to-rgb($body-color-dark)};
  --bs-body-bg: #{$body-bg-dark};
  --bs-body-bg-rgb: #{to-rgb($body-bg-dark)};

  --bs-emphasis-color: #{$body-emphasis-color-dark};
  --bs-emphasis-color-rgb: #{to-rgb($body-emphasis-color-dark)};

  --bs-secondary-color: #{$body-secondary-color-dark};
  --bs-secondary-color-rgb: #{to-rgb($body-secondary-color-dark)};
  --bs-secondary-bg: #{$body-secondary-bg-dark};
  --bs-secondary-bg-rgb: #{to-rgb($body-secondary-bg-dark)};

  --bs-tertiary-color: #{$body-tertiary-color-dark};
  --bs-tertiary-color-rgb: #{to-rgb($body-tertiary-color-dark)};
  --bs-tertiary-bg: #{$body-tertiary-bg-dark};
  --bs-tertiary-bg-rgb: #{to-rgb($body-tertiary-bg-dark)};

  @each $color, $value in $theme-colors-text-dark {
    --bs-#{$color}-text-emphasis: #{$value};
  }

  @each $color, $value in $theme-colors-bg-subtle-dark {
    --bs-#{$color}-bg-subtle: #{$value};
  }

  @each $color, $value in $theme-colors-border-subtle-dark {
    --bs-#{$color}-border-subtle: #{$value};
  }

  --bs-heading-color: #{$headings-color-dark};

  --bs-link-color: #{$link-color-dark};
  --bs-link-hover-color: #{$link-hover-color-dark};
  --bs-link-color-rgb: #{to-rgb($link-color-dark)};
  --bs-link-hover-color-rgb: #{to-rgb($link-hover-color-dark)};

  --bs-code-color: #{$code-color-dark};

  --bs-border-color: #{$border-color-dark};
  --bs-border-color-translucent: #{$border-color-translucent-dark};

  --bs-form-valid-color: #{$form-valid-color-dark};
  --bs-form-valid-border-color: #{$form-valid-border-color-dark};
  --bs-form-invalid-color: #{$form-invalid-color-dark};
  --bs-form-invalid-border-color: #{$form-invalid-border-color-dark};

  // own overwrites for bootstrap
  .btn {
    --bs-btn-color: #fff;
    --bs-btn-border-color: rgba(var(--sp-btn-accent), 0.2);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-border-color: rgba(var(--sp-btn-accent), 0.6);
    --bs-btn-focus-shadow-rgb: var(--sp-btn-accent);
    --bs-btn-active-color: #fff;
    --bs-btn-active-border-color: rgba(var(--sp-btn-accent), 0.8);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-border-color: rgba(255, 255, 255, 0.1);

    background: border-box linear-gradient(160deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.05) 100%);
    backdrop-filter: blur(5px);

    &:hover {
      background: border-box linear-gradient(160deg, rgba(var(--sp-btn-accent), 0.3) 0%, rgba(var(--sp-btn-accent), 0.1) 100%);
    }

    &:active,
    &.active {
      background: border-box linear-gradient(160deg, rgba(var(--sp-btn-accent), 0.5) 0%, rgba(var(--sp-btn-accent), 0.3) 100%);
    }
  }

  .btn-primary {
    --sp-btn-accent: 129, 103, 151;
  }

  .btn-warning {
    --sp-btn-accent: 255, 193, 7;
  }

  .btn-guess {
    --sp-btn-accent: 129, 103, 151;
  }

  .list-group {
    --bs-list-group-bg: transparent;
  }

  // own overwrites for other styles

  body {
    background-image: url(/assets/bg-dark-1.svg);
    background-size: auto;
    background-position-x: center;
    background-position-y: top;
    background-repeat: repeat-y;
  }

  footer,
  header {
    background: rgba(var(--bs-tertiary-bg-rgb), 0.75) !important;
  }

  .sp-card {
    color: #eef6ff;
    .list-group-item {
      color: #eef6ff;
    }

    background: linear-gradient(160deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.05) 100%);
    backdrop-filter: blur(5px);
    border: none;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: var(--bs-border-radius);
      padding: var(--sp-card-border-width);
      background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2));
      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      mask-composite: exclude;
      pointer-events: none;
    }
  }
}
