<header class="mb-5 bg-body-tertiary">
  <nav class="navbar navbar-expand navbar-expand-lg">
    <div class="container">
      <a [routerLink]="['/']" class="navbar-brand d-inline-flex align-items-center">
        <img src="/assets/favicon.svg" alt="Logo" height="32" class="me-2 sp-when-light" />
        <img src="/assets/favicon_dark.svg" alt="Logo" height="32" class="me-2 sp-when-dark" />
        Scrum Tools
      </a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
            <a id="theme-dropdown" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-sun"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><h6 class="dropdown-header">Choose your theme:</h6></li>
              <li><hr class="dropdown-divider" /></li>
              @for (theme of themes; track theme.id) {
                <li>
                  <a class="dropdown-item" [class.active]="selectedTheme === theme.id" href="#" (click)="useTheme($event, theme.id)">{{
                    theme.name
                  }}</a>
                </li>
              }
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
