<header class="mb-5 py-3 bg-body-tertiary">
  <nav class="navbar navbar-expand navbar-expand-lg">
    <div class="container">
      <a [routerLink]="['/']" class="navbar-brand">
        <img src="/favicon.ico" alt="Logo" width="30" height="30" class="d-inline-block align-text-top" />
        Scrum Poker
      </a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
            <a id="theme-dropdown" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-sun"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><h6 class="dropdown-header">Choose your theme:</h6></li>
              <li><hr class="dropdown-divider" /></li>
              <li *ngFor="let theme of themes">
                <a class="dropdown-item" [ngClass]="{ active: selectedTheme === theme.id }" href="#" (click)="useTheme($event, theme.id)">{{
                  theme.name
                }}</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
