.sp-bar-chart-votes-container {
  height: 15em;
}
.sp-radial-chart-votes-container {
  height: 22em;
}

.sp-player-own {
  font-weight: bolder;
}

.sp-player-disconnected,
.sp-player-left {
  text-decoration: line-through;
}

.sp-status-guessed {
  color: rgb(var(--bs-success-rgb));
}

.sp-leader-action-list {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  align-items: center;
}
.sp-leader-action-separator {
  grid-column: span 2;
  border-top: 1px solid var(--bs-border-color);
}

.sp-aspect-ratio-1-to-1 {
  padding-top: 100%; /* 1:1 Aspect Ratio */
  position: relative;
  & > * {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.sp-guess-actions-container {
  max-width: 20rem;
  --sp-border-radius: 20px;
  border-radius: var(--sp-border-radius);
}

.sp-guess-actions-nudge {
  box-shadow: 0 0 0 0 rgba(var(--bs-warning-rgb), 0);
  animation: nudge-pulse 1.5s;
  animation-iteration-count: 3;
}

@keyframes nudge-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(var(--bs-warning-rgb), 0.8);
  }
  70% {
    box-shadow: 0 0 15px 15px rgba(var(--bs-warning-rgb), 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(var(--bs-warning-rgb), 0);
  }
}

.sp-guess-actions-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.sp-guess-action {
  border-radius: 0;
  font-size: 2em;
  font-weight: lighter;

  &:first-child {
    border-top-left-radius: var(--sp-border-radius);
  }
  &:nth-child(3) {
    border-top-right-radius: var(--sp-border-radius);
  }
  &:nth-child(7) {
    border-bottom-left-radius: var(--sp-border-radius);
  }
  &:last-child {
    grid-column-end: span 2;
    border-bottom-right-radius: var(--sp-border-radius);
  }
}

.sp-copy-button-icon {
  position: relative;
  i {
    transition: 0.15s opacity ease-in-out;
  }
}

.sp-icon-success {
  position: absolute;
  inset: 0;
  opacity: 0;
}

.sp-success-button-icon {
  i:first-child {
    opacity: 0;
  }
  .sp-icon-success {
    opacity: 1;
  }
}
